.footer-form-container {
    display: block;
    margin-left: 93px;
  }
  
  .footer-email {
    margin-bottom: 20px;
  width: 219px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: $primary-bg;
  }
  
  .helper {
    margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  
  
    width: 358px;
  
  background: #2F303A;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  
  background-color: transparent;
  }
  
  .helper::placeholder {
    width: 47px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-button-icon {
    color: $primary-bg;
  }
  
  .footer-form-container button {
   display: flex;
   align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  
    width: 200px;
    color: $primary-bg;
  
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 0;
  &:hover
  &:focus {
    background-color: #188ce8 ;
  }
  }
  
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
  
  .footer-button-icon {
  margin-left: 10px;
  justify-content: center;
  }
  
  