.header > .container {
    display: flex;
    align-items: center;
  }
  .header .menu {
    display: flex;
  
  }
  
  .menu .menu-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header {
    border-bottom: 1px solid #ececec;
  }

  .header .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  
    color: $primary-text-color;
  
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  
  .header .link.current {
    position: relative;
    color: $accent-color;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;
      
      background: #2196F3;
      border-radius: 2px;
    }
  }
  
  .header .contacts {
    display: flex;
    margin-left: auto;
    list-style-type: none;
  }
  
  .contacts .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .header .address-link {
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $secondary-text-color;
    fill: #757575;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  
  .address-icon {
    display: flex;
    margin-right: 10px;
  }
  