.work .list-margin {
    margin-top: 50px;
    padding-bottom: 94px;
    display: flex;
  }
  .list-margin .item-img:not(:last-child) {
    margin-right: 30px;
  }
  
  .work .title {
    display: block;
    color: $primary-text-color;
  
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  
  .img-block {
    display: block;
  }
  
  .item-img {
  position: relative;
  }
  
  .work-conent {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $primary-bg;
    background: rgba(47, 48, 58, 0.8);
  }
  
  
  